@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.home {
  font-family: "Roboto", sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.control {
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.control:hover input {
  width: 400px;
  outline: #af9566;
}
.control input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

.control .fas {
  color: #af9566;
  font-size: 18px;
}

.carboost {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.carboost .unclicked {
  color: #af9566;
  background-color: white;
  outline: none;
  height: 30px;
  padding: 5px 10px;
  border-radius: 30px;
  margin: 30px;
}
.carboost .clicked {
  color: #fff;
  background-color: #af9566;
  outline: none;
  height: 30px;
  padding: 5px 10px;
  border-radius: 30px;
  margin: 30px;
}

.carboost span i {
  font-size: 18px;
  padding-left: 8px;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform-origin: right;
  background-image: url("./X.png");
  background-size: 100%;
  background-position-y: -15px;
  backdrop-filter: blur(4px);
  opacity: 1;
}
.slide-in2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform-origin: right;
  background-image: url("./X.png");
  background-size: 100%;
  background-position-y: -15px;
  backdrop-filter: blur(4px);
  opacity: 1;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform-origin: left;
  background: #af9566;
  opacity: 0.75;
}
.slide-out2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform-origin: left;
  background: #af9566;
  opacity: 0.75;
}

.details img {
  margin: 50px;
  width: 50%;
  filter: grayscale(100%);
  transition: 0.5s;
}
.details img:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}
.details {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.responsive-container {
  position: relative;
  padding-bottom: 53.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.youtube-container {
  margin-bottom: 150px;
}
.youtube-container iframe {
  border: #fff SOLID 3px;
  border-radius: 30px;
}
.spanbutton {
  border: 2px solid #af9566;
  border-radius: 15px;
  display: flex;
  align-items: center;
  color: #af9566;
  margin-left: 5px;
  margin: 0px 15px;
  font-size: 15px;
  text-decoration: none;
  width: 92%;
  transition: 0.5s;
}
.spanbutton:hover {
  color: white;
  border: 2px solid #af9566;
  background-color: #af9566;
  transition: 0.5s;
}
.icona {
  color: #af9566;
  margin-left: 5px;
  margin: 0px 15px;
  font-size: 25px;
  transition: 0.5s;
}

.spanbutton:hover .icona {
  color: white;
  transition: 0.5s;
}

h4 {
  font-family: "Roboto", sans-serif;
}
